<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/landing.css" />

</head>
<body>
    <header>

        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>

        <a href="#" class="logo">Banker<span>.</span></a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#Services">Services</a>
            <a href="#review">review</a>
            <a href="#contact">contact</a>
            <a href="/currency">currency converter</a>
        </nav>

        <div class="icons">
            <a href="/createUser" class="fas fa-user"></a>
        </div>
    </header>

    <section class="home" id="home">

        <div class="content">
            <h3>Banking Solutions</h3>
            <span> Secure, Simple, Smart Banking</span>
            <p>Your Financial Partner for Every Milestone</p>
            <a href="/createUser" class="btn">Create Account</a>
            <a href="/transfermoney" class="btn">Transfer money</a>
        </div>
    </section>
    <section class="about" id="about">
    <h1 class="heading"> <span> About </span> us </h1>
    <div class="row">
        <div class="video-container">
            <video src="/assets/images/bg/project_video1.mp4" loop autoplay muted></video>
            <h3>Safe Transactions</h3>
        </div>

        <div class="content">
            <h3>Why choose us?</h3>
            <p>We believe in more than just transactions; we believe in relationships. For years, we have been dedicated to providing financial services that go beyond the ordinary, ensuring the prosperity and security of our valued customers.</p>
            <p>Empowering Dreams, Ensuring Security. Our mission is to be a trusted financial partner, committed to helping individuals and businesses achieve their financial goals through innovative solutions and unwavering integrity.</p>
            <a href="#" class="btn"> Learn more </a>
        </div>
    </div>
    </section>

    <section class="icons-container">
        <div class="icons">
            <img src="/assets/images/bg/money_icon2.png" alt="">
            <div class="info">
                <h3>Money Saving</h3>
            </div>
        </div>
        <div class="icons">
            <img src="/assets/images/bg/gift_card3.png" alt="">
            <div class="info">
                <h3>Offer & gifts</h3>
            </div>
        </div>
        <div class="icons">
            <img src="/assets/images/bg/debit_card4.png" alt="">
            <div class="info">
                <h3>Secure transactions</h3>
            </div>
        </div>
    </section>

    <section class="products" id="Services">
        <h1 class="heading"> Latest <span>Services</span> </h1>
        <div class="box-container">

            <div class="box">
                
                <div class="image">
                    <img src="/assets/images/bg/product_image_a.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Learn More</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Business Consulting</h3>
                </div>
            </div>
            <div class="box">
                
                <div class="image">
                    <img src="/assets/images/bg/product_image_b.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Learn More</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Credit Card</h3>
                </div>
            </div>
            <div class="box">
            
                <div class="image">
                    <img src="/assets/images/bg/product_image_c.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Learn More</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Income Monitoring</h3>
                </div>
            </div>
            <div class="box">
                
                <div class="image">
                    <img src="/assets/images/bg/product_image_d.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Learn More</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Insurance Consulting</h3>
                </div>
            </div>
            <div class="box">
                
                <div class="image">
                    <img src="/assets/images/bg/product_image_e.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Learn More</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Financial Investment</h3>
                </div>
            </div>
            <div class="box">
            
                <div class="image">
                    <img src="/assets/images/bg/product_image_f.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">Learn More</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Financial Management</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="review" id="review">

        <h1 class="heading">Customer's <span>review</span></h1>
        <div class="box-container">
            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sint ab, corrupti reprehenderit odit, ipsum optio ullam, vero deleniti inventore repellendus quia praesentium libero. Dicta at cumque voluptatem doloribus facilis.</p>
                <div class="user">
                    <img src="/assets/images/bg/customer1.jpg" alt="">
                    <div class="user-info">
                        <h3>Evan Oleson</h3>
                        <span>Happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sint ab, corrupti reprehenderit odit, ipsum optio ullam, vero deleniti inventore repellendus quia praesentium libero. Dicta at cumque voluptatem doloribus facilis.</p>
                <div class="user">
                    <img src="/assets/images/bg/customer2.jpg" alt="">
                    <div class="user-info">
                        <h3>Lee Phillip</h3>
                        <span>Happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

            <div class="box">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus sint ab, corrupti reprehenderit odit, ipsum optio ullam, vero deleniti inventore repellendus quia praesentium libero. Dicta at cumque voluptatem doloribus facilis.</p>
                <div class="user">
                    <img src="/assets/images/bg/customer3.jpg" alt="">
                    <div class="user-info">
                        <h3>Alice Tate</h3>
                        <span>Happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">

        <h1 class="heading"> <span>Contact</span> us</h1>
        <div class="row">
            <form action="/contactForm" method="post">
                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="number" placeholder="number" class="box">
                <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn">
            </form>
            <div class="image">
                <img src="/assets/images/bg/contact_image.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Quick links</h3>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Review</a>
                <a href="#">Contact</a>
            </div>

            <div class="box">
                <h3>Extra links</h3>
                <a href="#">My account</a>
                <a href="#">My order</a>
                <a href="#">My Favourite</a>
                
            </div>

            <div class="box">
                <h3>Locations</h3>
                <a href="#">India</a>
                <a href="#">USA</a>
                <a href="#">Japan</a>
                <a href="#">France</a>
                
            </div>

            <div class="box">
                <h3>Contact info</h3>
                <a href="#">+123-456-7890</a>
                <a href="#">example@gmail.com</a>
                <a href="#">mumbai , india - 400104</a>
                <img src="/assets/images/bg/project_image3.png" alt="">
                
            </div>
        </div>

    </section>

    <input hidden type="text" name="" id="error" value="<%=err%>">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/assets/js/index1.js"></script>
</body>
</html>